---
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = await Astro.glob('./posts/*.md');
allPosts.sort((a, b) => b.frontmatter.pubDate - a.frontmatter.pubDate);
const pageTitle = "博客";
---

<BaseLayout>   
		<h1>博客</h1>
        <p>在这里，我将分享我的 Astro 学习之旅。</p>
        <ul>
            {allPosts.map((post) => (
                <li>
                    <a href={post.url}>{post.frontmatter.title}</a>
                </li>
            ))}
        </ul>
</BaseLayout>